/node_modules/.package-lock.json
/Week4/node_modules/.package-lock.json
/.idea/dataSources/14b4aa0f-0327-4895-bd33-21d42fbe6709.xml
/.idea/dataSources.local.xml
/node_modules/strip-ansi/index.d.ts
/Week4/node_modules/strip-ansi/index.d.ts
/node_modules/ansi-regex/index.js
/node_modules/prompt-sync/index.js
/node_modules/strip-ansi/index.js
/Week4/node_modules/ansi-regex/index.js
/Week4/node_modules/prompt-sync/index.js
/Week4/node_modules/strip-ansi/index.js
/.idea/dataSources/14b4aa0f-0327-4895-bd33-21d42fbe6709/storage_v2/_src_/database/menuitems.wVWMpQ/schema/information_schema.FNRwLQ.meta
/node_modules/prompt-sync/LICENSE
/Week4/node_modules/prompt-sync/LICENSE
/node_modules/ansi-regex/license
/node_modules/strip-ansi/license
/Week4/node_modules/ansi-regex/license
/Week4/node_modules/strip-ansi/license
/.idea/dataSources/14b4aa0f-0327-4895-bd33-21d42fbe6709/storage_v2/_src_/database/menuitems.wVWMpQ.meta
/node_modules/ansi-regex/package.json
/node_modules/prompt-sync/package.json
/node_modules/strip-ansi/package.json
/Week4/node_modules/ansi-regex/package.json
/Week4/node_modules/prompt-sync/package.json
/Week4/node_modules/strip-ansi/package.json
/.idea/dataSources/14b4aa0f-0327-4895-bd33-21d42fbe6709/storage_v2/_src_/database/menuitems.wVWMpQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/14b4aa0f-0327-4895-bd33-21d42fbe6709/storage_v2/_src_/database/menuitems.wVWMpQ/schema/public.abK9xQ.meta
/node_modules/prompt-sync/README.md
/Week4/node_modules/prompt-sync/README.md
/node_modules/ansi-regex/readme.md
/node_modules/strip-ansi/readme.md
/Week4/node_modules/ansi-regex/readme.md
/Week4/node_modules/strip-ansi/readme.md
/node_modules/prompt-sync/test.js
/Week4/node_modules/prompt-sync/test.js
