p {
    color: white;
    text-align: center;
    height: 50%;
    padding: 10px;
    margin: 30px;
}

.grid-container {
    display: grid;
    width: 100%;
    column-gap: 50px;
    row-gap: 50px;
    grid-auto-columns: 100vw;
}

body > div
{
    /*width:25%;*/
    /*height:25%;*/
    /*background:#676470;*/
    transition:all 0.3s ease;

}

.fade-out{
    background:#676470;
    opacity: 0.2;
    display:inline-block;
}

.fade-out:hover {
    opacity: 1;
    transition: 1s ease-in-out;
}


.colour{
    background-color: red;
    display:inline-block;
}

.colour:hover {
    background-color: #48d7e8;
    transition: 1s ease-in-out;
}


.shrink{
    background-color: #48d7e8;
    display:inline-block;
}

.shrink:hover{
    transform: scale(0.5)

}


.rotate{
    background-color: yellow;
    display:inline-block;
}

.rotate:hover{
    transform: rotate(-45deg);

}