body {
 background-image: url("LiliLyons.jpeg");
 background-color: #cccccc;
 background-position: center ;
 background-repeat: no-repeat;
 opacity: 0.9;
 background-size: cover;
}


  .sidebar {
    grid-area: sidebar;

  }
  
  .content {
    grid-area: content;
    position: relative;
  }
  
  .header {
    grid-area: header;
    text-align: center;
  }
  
  .footer {
    grid-area: footer;
    text-align: center;
  }

  
  .wrapper {
      display: grid;
      width: 100%;
      grid-gap: 10px;
      grid-template-areas:
      "header  header  header"
      "sidebar content content"
      "footer  footer  footer";

    }
  
  .box {
    background-color: #444;
    background-size: auto;
    color: #fff;
    border-radius: 5px;
    padding: 60px;
    font-size: 150%;
    opacity: 0.8;
  }

  .header {

  }
  
  
  .topleft {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .topright {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  a {
    flex: 0 0 1;
    color: white;
    text-decoration: none;
    outline-color: transparent;
    text-align: center;
    line-height: 3;
  }

  
  a:hover {
    background: orange;
  }
  
  a:active {
    background: darkred;
    color: white;
  }
  
